# Xcode
.DS_Store
xcuserdata/
*.xcworkspace/
*.xcplayground
*.xctimeline

# Swift Playground specific
*.playground

# Compiled Swift source code
*.swiftmodule
*.swiftdoc
*.swiftinterface

# Playground live view caches
.playgroundliveview/
.playgroundbook/

# Miscellaneous
build/
DerivedData/